data-exercise/nifi/MySQL_CDC.json
{"flowContents":{"identifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","instanceIdentifier":"29b4f4f2-8b1f-3df0-bcb4-9f915d720682","name":"MySQL CDC","comments":"","position":{"x":416.0,"y":-408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d9597f91-cc85-3f8e-ab40-724022c65138","instanceIdentifier":"496d66d7-6cb3-3ba2-65c1-9be35080db8d","name":"EvaluateJsonPath","comments":"","position":{"x":376.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"create_by":"$.create_by","Destination":"flowfile-attribute","Max String Length":"20 MB","user_id":"$.user_id","Return Type":"auto-detect","class_id":"$.class_id","name":"$.name","Null Value Representation":"empty string","age":"$.age","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"create_by":{"name":"create_by","displayName":"create_by","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"user_id":{"name":"user_id","displayName":"user_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"class_id":{"name":"class_id","displayName":"class_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"age":{"name":"age","displayName":"age","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"3359f7ef-0480-34d0-9ac3-786b7fe44027","instanceIdentifier":"9cb67475-f450-316f-0e5d-6b9ee2f78754","name":"LogAttribute","comments":"","position":{"x":1248.0,"y":344.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"error","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"error.message","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"b6d11a29-429a-3250-9974-e114306a1105","instanceIdentifier":"c0344749-3e2c-3d04-f8cb-16a884ca080e","name":"PutSQL","comments":"","position":{"x":1264.0,"y":72.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"f9f128b5-eef1-3fd2-b40a-a2d108aa1cf8","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"09c53311-8b7c-35ab-8ce5-42179bdb2098","instanceIdentifier":"81dd5b7d-462c-3b7d-b549-6375f8029fed","name":"ConsumeKafka","comments":"","position":{"x":-592.0,"y":-704.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.5.0"},"properties":{"Topics":"mysql.cdc.de.user","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"4bbfb94d-982d-3930-915c-7566726affcc","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"mysql-cdc","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"5a1b2426-025f-3761-98d9-a0b2b9047f86","instanceIdentifier":"84154ab7-7305-3529-c6a9-4a2a14f5d2db","name":"ReplaceText","comments":"","position":{"x":632.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"insert into user_out (user_id, class_id, name, age, create_by)\nvalues(${user_id}, ${class_id}, '${name}', ${age}, '${create_by}')","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"189fa5d4-dbb5-3b07-9caa-37f8a8842c21","instanceIdentifier":"e300f289-a8b5-3b2d-8fe7-c4424bd757c0","name":"JoltTransformJSON","comments":"","position":{"x":0.0,"y":-616.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.5.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-shift","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"payload\": {\n    \"after\": {\n      // 通配符 \"*\" 匹配 after 对象下的所有字段\n      \"*\": \"&\" // \"&\" 表示将字段的值直接输出到顶层\n    }\n  }\n}"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4110139d-f54a-363b-b9d3-fd9030978bd5","instanceIdentifier":"883ea7b1-35bc-3e01-b6b5-52d5e5da922c","name":"","source":{"id":"09c53311-8b7c-35ab-8ce5-42179bdb2098","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"ConsumeKafka","comments":"","instanceIdentifier":"81dd5b7d-462c-3b7d-b549-6375f8029fed"},"destination":{"id":"189fa5d4-dbb5-3b07-9caa-37f8a8842c21","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e300f289-a8b5-3b2d-8fe7-c4424bd757c0"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"5be48170-a2de-355d-82f7-b61eb0a2d8be","instanceIdentifier":"11a6196e-baa1-3516-dc25-5e9a86b519cf","name":"","source":{"id":"b6d11a29-429a-3250-9974-e114306a1105","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"PutSQL","comments":"","instanceIdentifier":"c0344749-3e2c-3d04-f8cb-16a884ca080e"},"destination":{"id":"3359f7ef-0480-34d0-9ac3-786b7fe44027","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"LogAttribute","comments":"","instanceIdentifier":"9cb67475-f450-316f-0e5d-6b9ee2f78754"},"labelIndex":0,"zIndex":13,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"0b78e5ed-4e91-31a4-b2e0-37402d2272da","instanceIdentifier":"67980ab8-e272-37d4-a0cb-c3f5db7090e5","name":"","source":{"id":"d9597f91-cc85-3f8e-ab40-724022c65138","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"496d66d7-6cb3-3ba2-65c1-9be35080db8d"},"destination":{"id":"5a1b2426-025f-3761-98d9-a0b2b9047f86","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"ReplaceText","comments":"","instanceIdentifier":"84154ab7-7305-3529-c6a9-4a2a14f5d2db"},"labelIndex":0,"zIndex":5,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"f57a1403-4380-3cd0-87a6-085955dbbf16","instanceIdentifier":"66e23360-5834-3081-f95f-347e201492f5","name":"","source":{"id":"5a1b2426-025f-3761-98d9-a0b2b9047f86","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"ReplaceText","comments":"","instanceIdentifier":"84154ab7-7305-3529-c6a9-4a2a14f5d2db"},"destination":{"id":"b6d11a29-429a-3250-9974-e114306a1105","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"PutSQL","comments":"","instanceIdentifier":"c0344749-3e2c-3d04-f8cb-16a884ca080e"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"},{"identifier":"f2049956-dcd9-36cc-a06c-c93dd446e1b3","instanceIdentifier":"176f0ed8-51e3-332c-0826-81081e0525ff","name":"","source":{"id":"189fa5d4-dbb5-3b07-9caa-37f8a8842c21","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e300f289-a8b5-3b2d-8fe7-c4424bd757c0"},"destination":{"id":"d9597f91-cc85-3f8e-ab40-724022c65138","type":"PROCESSOR","groupId":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"496d66d7-6cb3-3ba2-65c1-9be35080db8d"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"600a5250-2abe-3e9b-b51f-4ef8fe5cc20e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"f9f128b5-eef1-3fd2-b40a-a2d108aa1cf8","instanceIdentifier":"3cfc73c6-0199-1000-5a2b-d014600078db","name":"DE-MySQL","comments":"","type":"org.apache.nifi.dbcp.HikariCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"hikaricp-validation-query":null,"hikaricp-max-total-conns":"10","hikaricp-driver-classname":"com.mysql.cj.jdbc.Driver","hikaricp-min-idle-conns":"10","hikaricp-username":"de","hikaricp-kerberos-user-service":null,"hikaricp-max-conn-lifetime":"-1","hikaricp-driver-locations":"file:///opt/bigdata/kafka/plugins/debezium-debezium-connector-mysql-3.1.2/lib/mysql-connector-j-9.1.0.jar","hikaricp-max-wait-time":"500 millis","hikaricp-connection-url":"jdbc:mysql://mysql:3306/de"},"propertyDescriptors":{"hikaricp-validation-query":{"name":"hikaricp-validation-query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hikaricp-max-total-conns":{"name":"hikaricp-max-total-conns","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hikaricp-password":{"name":"hikaricp-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"hikaricp-driver-classname":{"name":"hikaricp-driver-classname","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hikaricp-min-idle-conns":{"name":"hikaricp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hikaricp-username":{"name":"hikaricp-username","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hikaricp-kerberos-user-service":{"name":"hikaricp-kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"hikaricp-max-conn-lifetime":{"name":"hikaricp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hikaricp-driver-locations":{"name":"hikaricp-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"hikaricp-max-wait-time":{"name":"hikaricp-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hikaricp-connection-url":{"name":"hikaricp-connection-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"29b4f4f2-8b1f-3df0-bcb4-9f915d720682"},{"identifier":"4bbfb94d-982d-3930-915c-7566726affcc","instanceIdentifier":"3cd6a47a-0199-1000-ca17-4db9ba01f1ce","name":"DE-Kafka","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.5.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"hd1:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"29b4f4f2-8b1f-3df0-bcb4-9f915d720682"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}